<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Template</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<!-- start header -->
		<header>
			<div class="container clearfix">
				<div class="logo">
					<h1>Blogin<span>.</span></h1>
				</div>
				<div class="navigation-menu">
					<ul class="menu clearfix">
						<li class="menu-item">
							<a href="#">Journal</a>
						</li>
						<li class="menu-item">
							<a href="#">About</a>
						</li>
						<li class="menu-item">
							<a href="#">Work</a>
						</li>
						<li class="menu-item">
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- end header -->
		
		<!-- start posts -->
		<div class="container">
			<div class="post clearfix">
				<img src="img/layer.png" alt="img" class="img-post">
				<div class="text">
					<h3>Duis aute irure dolor in henderit in voluptate.</h3>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
				<input type="Continue Reading" placeholder="Continue Reading">
			</div>
			<div class="post clearfix">
				<img src="img/layer1.png" alt="img" class="img-post">
				<div class="text">
					<h3>Duis aute irure dolor in henderit in voluptate.</h3>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
					<input type="Continue Reading" placeholder="Continue Reading">
				</div>
			</div>
			<div class="post clearfix">
				<img src="img/layer2.png" alt="img" class="img-post">
				<div class="text">
					<h3>Duis aute irure dolor in henderit in voluptate.</h3>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
				<input type="Continue Reading" placeholder="Continue Reading">
			</div>
		</div>
		<!-- end posts -->t
		<!-- start footer -->
		<div class="footer">
		
			<div class="container">
				<h2>Blogin <span>.<span></h2>
				<p class="all">© 2014 Blogin.com  -  All Rights Reserved  -  Find more free Templates at Pixelhint.com</p>
				<ul class="nav-menu">
					<li class="nav-item">
						<a href="#">
							<img src="img/12.png" alt="img">
						</a>
					</li>
					<li class="nav-item">
						<a href="#">
							<img src="img/12.png" alt="img">
						</a>
					</li>
					<li class="nav-item">
						<a href="#">
							<img src="img/11.png" alt="img">
						</a>
					</li>
					<li class="nav-item">
						<a href="#">
							<img src="img/10.png" alt="img">
						</a>
					</li>
				<ul>
			</div>
		</div>	
		<!-- end footer -->
	</body>
</html>